@import '../utils/variables';

.dashboard {
  background-color: $bg-grey;

  &__wrapper {
    width: 90%;
    min-height: 85vh;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

    margin: 0 auto;
    margin-top: 1rem;
    background-color: $bg-white;
    border-radius: 5px;
  }

  &__left {
    min-height: 85vh;
    border-right: 1px solid $border-light;
  }
}
